body
{
	padding: 0;
	margin: 0;
	color: #333333;
	font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
	background-color: #fff;
	font-size: 15pt;
}


#container
{
	width: 900px;
	margin: 0 auto;
}

#billboard
{
/*
	background-color: red;
*/
}

a:link {
	color: #347de4;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
}

a:hover {
	color: #f46d00;
	text-decoration: underline;
	font-family: Helvetica, Arial, sans-serif;
}

.roundedCorner {
	margin-left: 0;
	margin-bottom: 10px;
	margin-right: 0;
	margin-top: 10px;
	background: #9eb2b8;
	padding: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #879ec3;
}

.leftColumn {
	float: left;
	width: 100px;
	margin: 0 10px 0 0;	
	padding: 0;
	vertical-align: top;
}

.rightColumn {
	float: left;
	width: 650px;
	margin: 0 10px 0 0;
	padding: 0;	
	vertical-align: top;
}

.rightColumn p {
	margin: 0 0 20px 0;
}

br.clear_floats { clear: both; }

/*
.screenshot
{
	position: absolute;
	top: 174px;
	left: 90px;
}
*/


#lettering
{
	margin-top:100px;
}

#app_store_badge
{
	margin:25px 0;
}

#main_buttons
{
/*
	background-color: yellow;
*/
	text-align: center;
}

#more_info
{
	background-color: white;
	padding: 0 2em;
}

#more_info h3 { margin: 0; }

#slideshow
{
	float: left;
	position: relative;
	background-image: url(images/large_iphone4.png);
	width: 383px;
	height: 798px;
	background-repeat: no-repeat;
}

#slideshow IMG {
    position:absolute;
    top: 174px;
	left: 90px;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}